svg{
  transition: 0.25s;
}

.circle-search{
  fill: none;
  stroke:white;
  stroke-width: 20px;
}

.path-search, .line-filter{
  fill: none;
  stroke:white;
  stroke-width: 20px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.rotateNewTask{
  rotate: 45deg;
 
}
.rotateChange{
  rotate: 90deg;
 
}

.line-change{
  fill: none;
  stroke: black;
  stroke-width: 20px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
