svg{
  transition: 0.25s;
}

.circle-search{
  fill: none;
  stroke:white;
  stroke-width: 20px;
}

.path-search, .line-filter{
  fill: none;
  stroke:white;
  stroke-width: 20px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.rotateNewTask{
  rotate: 45deg;
 
}
.rotateChange{
  rotate: 90deg;
 
}

.line-change{
  fill: none;
  stroke: black;
  stroke-width: 20px;
  stroke-linecap: round;
  stroke-linejoin: round;
}


.closeTabSvg{
  height: 15px;
  margin: 0;
  aspect-ratio: 1 / 1;
  background-color: #ffffff20;
  border-radius: 50%;
  margin-left: 5px;
  display: none;
  pointer-events: none;
  cursor: none;
  opacity: 0;
  transition: 0.25s;
}

.header-tab:hover > .closeTabSvg{
  display: flex;
  pointer-events: initial;
  cursor: default;
  opacity: 1;


}

.closeTabSvg:hover{
  background-color: #ffffff40;

}

