@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.hidden{
  visibility: hidden;
  cursor: none;
  position: absolute;
}

*{
  margin: 0 auto;
}
h1, h2, p{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.great{
  background-color: #030312;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.header{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0d0c12;
  align-items: flex-start;
  /* padding-bottom: 5px; */
}

.header > h1{
  color: white;
  font-size: 36px;
}
.header > * {
  margin: 0;
}
.header > div{
  
  position: relative;
  display: flex;
  
  
}

.logo{
  margin: 0;
  height: 40px;
  margin-left: 15px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.logo > img{
  aspect-ratio: 1 / 1;
  height: 100%;

}
.logo > h1{
  font-family: poppins;
  text-align: center;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  /* margin-top: 5px; */
}

.header-button{
  height: 90%;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 5px;
  font-weight: 300;
  margin-right: 5px;
  font-family: 'Poppins', sans-serif;
  align-self: center;
  background-color: transparent;
  border: none;
  color: #efefef;
}

.header-button:hover{
  background-color: #1f1d2a;
}

.header-tabs-area{
  width: 100%;
  height: 30px;
  justify-content: center;
  position: relative;
  align-items: end;
  overflow: hidden;
  /* background-color: #0d0c12; */
}

.header-tabs-area > *{
  margin: 0;
}
.menu{
  height: 50px;
  padding-bottom: 5px;
  align-items: center;
}

.header-tab{
  margin: 0;
  margin-left: 5px;
  display: flex;
  align-items: center;
  height: 90%;
  min-width: 70px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  border-radius: 5px 5px 0px 0px;;

}
.header-tab:hover{
  background-color: #1f1d2a;
  cursor: pointer;

}
.header-tab > h1{
  font-size: 14px;
  font-weight: 300;
}
.active-tab{
  background-color: #121212;
  position: relative;
  cursor: default;
}
.active-tab > h1{
  margin-left: 0px;
}

.active-tab:hover{
  background-color: #121212;
  cursor: default;
}

.active-tab::before{
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  bottom: -0px;
  background: inherit;
  left: -8px;
  clip-path:  path("M 8 0 Q 8 8, 0 8 H 8 Z");;
}
.active-tab::after{
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  bottom: -0px;
  background: inherit;
  right: -8px;
  clip-path: path("M 0 0 Q 0 8, 8 8 H 0 Z");
}

.tools-menu{
  background-color: #121212;
  width: 100%;
  height: 35px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  position: relative;
}

.tool-area{
  width: auto;
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  margin: 0;
  justify-items: center;
  position: relative;
  min-width: 0;
  margin-right: 15px;
  height: 40px;


}

.tool-items{
  margin: 0;
  margin-left: 15px;
  display: flex;
  align-items: center;
  background-color: transparent;
  height: 80%;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s;
}
.tool-items:hover{
  scale: 1.1;
  background-color: #3998fe;
}
.tool-items > *{
  scale: 0.7;
}

.search-area{
  width: 65%;
  margin: 0;
  margin-left: 20px;
  background: #00000060;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  border-radius: 50px;
}
#search-input{
  outline: none;
  border: none;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 15px;
  width: 90%;
  color: white;
  background: transparent;

  /* background: transparent; */
}

#search-input::placeholder{
  color: #d3d3d3;
}
.search-area:focus-within {
  box-shadow: inset 0px 0px 0px 1px #25a7e9;
}


.busca-div{
  background: transparent;
  height: 85%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-right: 5px;
}
.busca-div > *{
  transition: 0.25s ease-out;
}

.busca-div:hover{
  background-color: #3998fe;
}
.busca-div:hover > svg{
  scale: 0.9;
}

.subtitles{
  width: 100%;
  height: 25px;
  min-height: 25px;
  background-color: #121212 ;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subtitles > h1{
  font-size: 14px;
  margin: 0px;
  margin-left: 15px;
  color: white;
}

.subtitles > h2{
  font-size: 14px;
  margin: 0px;
  margin-left: 5px;
  color: white;
}
.subtitles > span{
  width: 10px;
  height: 10px;
  /* border: solid 2px gray; */
  margin: 0px;
  margin-left: 40px;
  border-radius: 50%;
}
.SPAs{
  /* background-color: #3a3a5b; */
  background-color: #d8d8d8;
  /* background:  linear-gradient(0deg,#080808d0, #080808); */
  width: 100%;
  height: 100%;
  min-height: 0;
  display: flex;
  align-items: center;
  flex-direction: column;

}
#id-tasks{
  min-height: 90%;
}
/* 
#id-tasks{
  width: 100%;
  min-height: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: #d8d8d8;
  align-items: start;
  padding-top: 15px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;        
  margin-bottom: 15px;   
} */
#id-tasks::-webkit-scrollbar{
  visibility: hidden;

}


.task{
  display: flex;
  flex-direction: column;
  width: 220px;
  overflow: hidden;
  border-radius: 10px;
  height: auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  margin: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  

}



.task-header{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 30px;
  align-items: center;
  background-color: #fff;

}

.task-header > *:first-child{
  width: 30px;
  height: 100%;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 10px;
}

.task-header > *:first-child > h1{
  font-size: 14px;
  text-align: center;
  margin: 0;
}

.notStarted > .task-header > *:first-child, .a{
  background-color: #2563EB;
  color: white;
}

.inProgress > .task-header > *:first-child, .b{
  background-color: #F59E0B;
  color: white;
}

.done > .task-header > *:first-child, .c{
  background-color: #22C55E;
  color: white;
}

.canceled > .task-header > *:first-child, .d{
  background-color: #6B7280;
  color: white;
}
.pendent > .task-header > *:first-child, .e{
  background-color: #DC2626;
  color: white;
}



.task-header > h1{
  margin: 0;
  font-size: 15px;
  margin-left: 5px;

}

.task-body{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  justify-content: center;
}

.task-body h1:nth-child(1){
  color: black;
  font-size: 13px;
  font-weight: 500;
  text-align: start;
  margin-bottom: 5px;
}
.task-body h1:nth-child(3){
  color: #313131;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.task-body h1:nth-child(4){
  margin-left: 10px;
  margin-bottom: 5px;
  
}
.titleDateAlign{
  display: flex;
  align-items: center;
  width: 95%;
  justify-items: center;

}
.titleDateAlign > h1{
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 5px;
  flex: 1;
  text-align: right;
  color: black;

}

.change-task-display{
  position: absolute;
  z-index: 3;
  right: 0;
  height: 100%;
  aspect-ratio: 1 / 1;
  background: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  visibility: hidden; 
  
}

.change-task-display > svg{
  transition: 0s;
}
.task:hover .change-task-display > svg {
  transition: 0.25s;

}
.task:hover  .change-task-display {
  visibility: visible; 
  
}

.task-body > h1{
  font-size: 12px;
  margin-left: 5px;
}

.progress-bar{
  background-color: gray;
  height: 10px;
  width: 90%;
  margin: 0;
  margin-left: 10px;
  border-radius: 20px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.progress-item{
  height: 50%;
  background: #70ff00;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
}

.form-new-task{
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: white;
  
  z-index: 2;
}


.task-columns{
  background: #b8b8b8;
  border-radius: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  min-height: -webkit-fill-available;
  position: relative;
}
.task-column-title{
  position: absolute;
  border-radius: 5px 5px 0px 0px;
  height: 25px;
  width: 100%;
  align-items: center;
  margin-top: 0px;
  justify-content: center;
  border-bottom: black 1px solid;
  display: flex;
}
.task-column-title > h1{
  font-size: 16px;
  align-items: center;

}
.task-column{
  margin-top: 30px;
  height: 100%;


}

#id-calendar{
  background-color: red;


}

.task-tab{
  background-color: white;
  width: 100%;
  min-height: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: #d8d8d8;
  align-items: start;
  padding-top: 15px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;        
  margin-bottom: 15px;
  
  cursor: none;
  position: absolute;
  visibility: hidden;

}
.taskActive{
  visibility: visible; 
  cursor: default;
  position: relative;
  
}

.header-nav-buttons{
  position: relative;
  height: 90%;
  width: 30px;
  border-radius: 5px 5px 0px 0px;
  background-color: #121212;
  transition: 0.25s;
}
.header-nav-buttons:hover{
  height: 100%;
  background-color: #444444;



}



.tabber{
  display: flex;
  min-width: 0;
  width: 93%;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  align-items: end;
  overflow: hidden;
  overflow-x: auto;
transition: 000.25s;
}
.tabber::-webkit-scrollbar{
  visibility: hidden;
  display: none;
}

.newTask{
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  flex-direction: column;
  background-color: #a1a1a1;
  justify-content: space-around;
  padding-top: 0px;
  align-items: center;
}  

.newTask-form, .open-task-form{
  height: 95%;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  background-color: #121212;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  border-radius: 5px;

}



.newTask::-webkit-scrollbar,.open-task-form::-webkit-scrollbar ,.newTask-form::-webkit-scrollbar{visibility: hidden;}

.newTask-header{
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding-top: 10px;


}
.newTask-header > h1{
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
}

.btn-newTask-cancel{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  border-radius: 5px;
  aspect-ratio: 1/1;
}

.btn-newTask-cancel:hover{
  background-color: #00000040;
  transition: 0.2s;
  scale: 1.2;
}

.newTask-body{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  /* background-color: #22C55E; */
  height: auto;
  margin-top: 15px;

}

.newTask-body > h1,.newTask-body >  h2{
  width: auto;
  margin: 0;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 400;


}
.newTask-body-partition{
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  height: auto;
  gap:25px;
}


.newTask-input-area textarea{ 
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  border: solid 1px black;
  border-radius: 4px;  
  font-family: 'Poppins', sans-serif;
  font-weight: 400; ;

}


.newTask-input-area h1{ margin-left: 0px; font-weight: 500; font-size: 15px; color: #ffffff;}
.newTask-input-area *{
  font-size: 14px;

}
.newTask-input-area input[type="text"], .newTask-input-area p, .newTask-input-area input[type="date"]{
  color: black;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: left;
  width: 90%;
  font-size: 14px;
  outline: none;
  border: none;
  padding: 8px 10px;

}
.newTask-input-area input[type="text"]:focus{
  box-shadow: 0px 0px 0px 2px  #2563EB;

}

select{
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  min-width: 180px;
  width: 90%;

}
.newTask-input-area{
  flex: 1;
  height: 90%;
  display: flex;
  min-width: 0;
  padding: 0px 5px 5px 5px;
  flex-direction: column;
  align-items: center;

}
.topicsSpace,.multiTaskArea{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 40px;
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
  
}

.topicArea{
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.topicArea > input{
  text-align: left;
  width: 90%;
  font-size: 14px;
  margin-left: 15px;
  outline: none;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 3px;
  border-bottom: 1px black solid;
  
}
.topicArea > h1{
  color: #000000;
  text-align: left;
  width: 90%;
  font-size: 14px;
  margin-left: 15px;
  font-weight: 400;  
}

.topicArea > input:focus{
  border-bottom: 1px #3998fe solid;
}

.topicArea > div{
  display: flex;
  align-items: center;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.btnNewTopic, .btnNewMultiTask, .btnAccept{
  width: 100%;
  height: 30px;
  margin-top: 10px;
  background-color: #00a35f;
  color: white;
  font-size: 14px;
  border-radius: 5px;  
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;

}
.btnEditCancel{
  color: white;
  background-color: #00a35f;
  border-radius: 5px;    border: none;  font-size: 14px;
  min-height: 32px;
  min-width: 68px;
}

.btnNewTopic:hover, .btnNewMultiTask:hover, .btnAccept:hover, .btnEditCancel:hover{
  background-color: #22C55E;

}
.newTask-input-area input[type="checkbox"],.newTask-input-area input[type="checkbox"] + h1, .newTask-input-area input[type="checkbox"] + h1 + input{
  margin-right: 5px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 500;

}

.createNewTask{
  width: 94%;
  height: 40px;
  margin-top: 10px;
  background-color: #2563EB;
  color: white;
  font-size: 14px;
  border-radius: 5px;  
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.createNewTask:hover{
  background-color: #3998fe;

}

.blur-effect{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  filter: blur(1px);
  z-index: 1;
  
}

.multiTaskPopup{
  position: absolute;
  top: 20%;
  min-height: 100px;
  height: auto;
  width: 300px;
  z-index: 2;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items:center ;
  border-radius: 5px;
}


.multiTaskPopup > h1{
  font-size: 16px;
  text-align: left;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  width: 90%;
}

.multiTaskPopup > p{
  font-size: 14px;
  margin-left: 15px;
  margin-top: 5px;
  white-space: normal;
  word-break: break-word;
}
.btnAccept{transition: none;}

.open-task-tab{ height: 100%;}
.open-task-form{
  width: 60%;


}
