@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.hidden{
  visibility: hidden;
  cursor: none;
}

*{
  margin: 0 auto;
}
h1, h2{
  font-family: poppins;
  font-weight: 500;
}
html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.great{
  background-color: #030312;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header{
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0d0c12;
  align-items: flex-start;
  /* padding-bottom: 5px; */
}

.header > h1{
  color: white;
  font-size: 36px;
}
.header > * {
  margin: 0;
}
.header > div{
  
  position: relative;
  display: flex;
  
  
}

.logo{
  margin: 0;
  height: 100%;
  margin-left: 15px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.logo > img{
  aspect-ratio: 1 / 1;
  height: 100%;

}
.logo > h1{
  font-family: poppins;
  text-align: center;
  font-weight: 500;
  color: white;
  font-size: 24px;
  /* margin-top: 5px; */
}

.header-button{
  height: 90%;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  align-self: center;
  background-color: transparent;
  border: none;
  color: #efefef;
}

.header-button:hover{
  background-color: #1f1d2a;
}

.header-tabs-area{
  width: 100%;
  height: 100%;
  margin-left: 5px;
  position: relative;
  align-items: end;
  overflow: hidden;
  /* background-color: #0d0c12; */
}

.header-tabs-area > *{
  margin: 0;
}
.menu{
  height: 50%;
}

.header-tab{
  margin-left: 5px;
  display: flex;
  align-items: center;
  height: 90%;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  border-radius: 5px 5px 0px 0px;;

}
.header-tab:hover{
  background-color: #1f1d2a;

}
.header-tab > h1{
  font-size: 18px;
  font-weight: 500;
}
.active-tab{
  background-color: #3a3a5b;
  position: relative;
}
.active-tab:hover{
  background-color: #3a3a5b;
}

.active-tab::before{
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  bottom: -0px;
  background: inherit;
  left: -8px;
  clip-path:  path("M 8 0 Q 8 8, 0 8 H 8 Z");;
}
.active-tab::after{
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  bottom: -0px;
  background: inherit;
  right: -8px;
  clip-path: path("M 0 0 Q 0 8, 8 8 H 0 Z");
}

.tools-menu{
  background-color: #3a3a5b;
  width: 100%;
  height: 40px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  position: relative;
}
.tool-items{
  margin: 0;
  margin-left: 15px;
  display: flex;
  align-items: center;
  background-color: transparent;
  height: 80%;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s;
}
.tool-items:hover{
  scale: 1.1;
  background-color: #3998fe;
}
.search-area{
  width: 65%;
  margin: 0;
  margin-left: 20px;
  background: #00000060;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  border-radius: 50px;
}
#search-input{
  outline: none;
  border: none;
  font-size: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 15px;
  width: 85%;
  color: white;
  background: transparent;

  /* background: transparent; */
}

#search-input::placeholder{
  color: #d3d3d3;
}
.search-area:focus-within {
  box-shadow: inset 0px 0px 0px 1px #25a7e9;
}


.busca-div{
  background: transparent;
  height: 85%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-right: 5px;
}
.busca-div > *{
  transition: 0.25s ease-out;
}

.busca-div:hover{
  background-color: #3998fe;
}
.busca-div:hover > svg{
  scale: 0.9;
}

.subtitles{
  width: 100%;
  height: 30px;
  min-height: 30px;
  background-color: #3a3a5b ;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subtitles > h1{
  font-size: 16px;
  margin: 0px;
  margin-left: 15px;
  color: white;
}

.subtitles > h2{
  font-size: 16px;
  margin: 0px;
  margin-left: 5px;
  color: white;
}
.subtitles > span{
  width: 20px;
  height: 20px;
  /* border: solid 2px gray; */
  margin: 0px;
  margin-left: 40px;
}
  /*
::after
right: -8px;
    clip-path: path("M 0 0 Q 0 8, 8 8 H 0 Z");  
*/
.SPAs{
  /* background-color: #3a3a5b; */
  background-color: #d8d8d8;
  /* background:  linear-gradient(0deg,#080808d0, #080808); */
  width: 100%;
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;

}

#id-tasks{
  width: 100%;
  height: auto;
  min-height: 0;
  display: flex;
  flex-direction: row;
  background-color: #d8d8d8;
  align-items: center;
  padding-top: 15px;
  flex-wrap: wrap;
  overflow-y: auto;               
  overflow-x: hidden;               
}

.task{
  display: flex;
  flex-direction: column;
  width: 250px;
  height: auto;
  margin: 0;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 5px;

}
.task-header{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #000;

}


.notStarted > .task-header{
  background-color: #2563EB;
  color: white;
}

.inProgress > .task-header{
  background-color: #F59E0B;
  color: white;
}

.done > .task-header{
  background-color: #22C55E;
  color: white;
}

.canceled > .task-header{
  background-color: #6B7280;
  color: white;
}
.Pendent > .task-header{
  background-color: #DC2626;
  color: white;
}



.task-header > h1{
  font-size: 16px;
  margin-left: 5px;

}

.task-body{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  align-items: center;
  justify-content: start;
  padding-top: 5px;
  padding-bottom: 5px;
}


.task-body > h1{
  font-size: 12px;
  margin-left: 5px;
}

#id-calendar{
  background-color: red;


}
